/* Custom properties/variables  */
:root {
  
   --black:black;
  --blue:#1E91D6;
  --green:#8FC93A;
  --yellow:#E4CC37;
  --orange:#E18335;
  --white:#f0f0f0;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}



/* Base styles */

body {
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--white);
}

h1{
  font-family: 'Comic Sans MS', sans-serif;
  font-weight: 700;
  font-size: 10rem;
  color:var(--white);
  padding:10px;
    
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
  
}

img {
  display: block;
  width: 100%;
  height: 85%;
}


/* nav starts */


/* nav ends */

.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--blue);
  box-shadow: 0 4px 0 var(--black);
  z-index: 3;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  gap:100px
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: var(--orange);
}


/* welcome starts */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--yellow);
 

}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--white);

}

/* welcome ends */

/* project start*/

figcaption{
  background-color:var(--black);
  color:var(--white);
  padding:10px;
}

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--green);
  border-top: 4px solid var(--blue);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  
}


 
.project:hover {
  
} 


.button{
  display: flex;
  justify-content: center;
  background-color: var(--green);
  padding:10px 10px;
}

.button > a{  
  display: flex;
  justify-content: center;
   font-weight: 200;
  background-color: var(--yellow);
  color:white;
  padding:25px 10px;
}


/*projects ends*/




/*contact starts*/

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--blue);
  border-top: 4px solid var(--yellow);
}



.contact-links {
            padding: 20px;
            font-size: 300px;
            text-decoration: none;
            margin: 5px 80px;
}



/*contact ends*/

/*footer starts*/
        

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  background: var(--orange);
  border-top: 4px solid var(--green);
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}


    
